:root {
	--head-color: hsl(214, 27%, 10%);
	--orng-clr: hsl(35, 100%, 70%);
	--yellow-clr: hsl(50, 100%, 50%);
	--logo-url: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
}
body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	background-color: hsl(0, 0%, 100%);
}
.text-white {
	color: white;
}
.main-nav {
	background-color: var(--head-color);
	height: 60px;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}
.logo {
	padding: 10px 6px;
	float: none;
	margin: 2px;
}
.logo:hover,
.address:hover,
.signin:hover {
	border: 1px solid white;
	border-radius: 2px;
}
.nav {
	background-image: var(--logo-url);
	background-repeat: repeat-x;
	float: left;
	width: 97px;
	height: 30px;
	background-position: -10px -50px;
}
.in {
	padding-top: 16px;
	font-size: 14px;
}
.address {
	width: 170px;
	margin: 2px;
}
.loc {
	float: left;
	width: 15px;
	height: 18px;
	margin: 18px 2px 0px 2px;
	background-position: -71px -378px;
	background-image: var(--logo-url);
}
.hello {
	font-size: 13px;
	font-weight: 300;
}
.search-flex {
	display: flex;
}
.select {
	font-weight: 700;
}
#dropdown {
	padding: 12px 10px;
	border-radius: 4px 0px 0px 4px;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid lightgray;
	background-color: hsl(0, 0%, 95%);
}
.inp {
	width: 55vw;
	min-width: 275px;
	border: none;
}
.srch {
	background-image: var(--logo-url);
	background-position: 2px -280px;
	float: left;
	width: 45px;
	background-color: var(--orng-clr);
	border-radius: 0px 4px 4px 0px;
}
.signin {
	margin: 0px 30px;
	position: relative;
}
.count {
	color: hsl(30, 100%, 60%);
	font-weight: 700;
	position: absolute;
	top: -5px;
	left: 18px;
}
.cart-icon {
	height: 26px;
	width: 38px;
	float: left;
	background-image: var(--logo-url);
	background-position: -10px -340px;
}
.cart {
	font-family: 700;
}
.link-1 {
	text-decoration: none;
	color: white;
}
.prod {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 20px 0px;
}
.prod_list {
	width: 280px;
	height: 470px;
	text-align: center;
}
.prod_head,
.cart_head {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	max-height: 87px;
	margin: 10px 0px;
}
.prod_img_div {
	position: relative;
	padding-top: 100%;
}
.prod_img {
	position: absolute;
	margin: auto;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	max-width: 100%;
	max-height: 255px;
}
.prod_grid {
	display: grid;
	grid-template-columns: 100px 100px;
	justify-content: center;
	align-items: center;
	justify-items: start;
	gap: 5px;
	margin: 20px 0px;
}
.prod_btn {
	cursor: pointer;
	justify-self: center;
	grid-column: span 2;
	padding: 10px 40px;
	border: none;
	border-radius: 5px;
	background-color: var(--orng-clr);
}
.prod_mrp,
.prod_price,
.prod_save {
	justify-self: end;
}
.prod_mrp_1 {
	text-decoration: line-through;
	font-size: 12px;
}
.prod_price_1 {
	color: hsl(0, 50%, 50%);
	font-size: 18px;
}
.link {
	border: none;
	background-color: var(--orng-clr);
	border-radius: 5px;
	padding: 10px 20px;
	width: 76px;
}
.empty {
	text-align: center;
}
.header {
	font-weight: 600;
	font-size: 1.3em;
}
.cart-main {
	min-width: 600px;
	width: 55%;
	margin: 0% auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 20px;
}
.cart_list {
	display: grid;
	grid-template-columns: 110px 200px 200px 200px;
	grid-template-rows: 80px 120px;
	align-items: center;
	justify-items: center;
	gap: 10px 30px;
	max-width: 800px;
	align-self: flex-start;
	justify-items: start;
}
.cart_img {
	width: 110px;
	grid-row: 1 / -1;
}
.cart_head {
	grid-column: 2 / -1;
}
.cart_rate {
	grid-column: 2 / 3;
}
.cart_qty {
	grid-column: 3 / 4;
}
.cart_btn,
.link-4 {
	cursor: pointer;
	border: none;
	background-color: var(--yellow-clr);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
.link-5 {
	cursor: pointer;
	border: 2px solid var(--yellow-clr);
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
.link-5:hover {
	background-color: var(--yellow-clr);
}
.order {
	width: 50%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 150px 250px;
	gap: 30px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
.label {
	justify-self: end;
}
.input2 {
	justify-self: start;
	width: 200px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid black;
}
.input2:focus {
	outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.red {
	color: red;
}
.shipping {
	grid-column: 1 / -1;
}
.confirm {
  cursor: pointer;
	grid-column: 1 / -1;
	background-color: var(--yellow-clr);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
}
